[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pipenv-to-requirements = "*"
pylint = "*"
black = "==19.3b0"
sphinx = "*"
nbdime = "*"

[packages]
mlflow = "==1.3.0"
pyarrow = "==0.15.1"
pyspark = "==2.4.4"
mleap = "==0.8.1"
python-dotenv = "*"
boto3 = "==1.10.1"
minio = "*"

[requires]
python_version = "3.7"
